body {
    font-size: 1rem;
}
.passage {
    display: none;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

#backgroundLayer {
    background-size: cover;
}

#twoCharacterLayer {
    z-index: 100;
    display: grid;
    grid-template-columns: 2% 38% 20% 38% 2%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    ". . . . ."
    ". leftCharacter . rightCharacter ."
}

#leftCharacter {
    grid-area: leftCharacter;
}

#rightCharacter {
    grid-area: rightCharacter;
}

#singleCharacterLayer {
    z-index: 200;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2% 96% 2%;
    grid-template-areas: 
    ". . ."
    ". centerCharacter ."
    ". . ."
}

#centerCharacter {
    grid-area: centerCharacter;
}

#textLayer {
    z-index: 300;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 80% 15% 5%;
    grid-template-areas: 
    ". . ."
    ". textField ."
    ". . ."
}

#textField {
    grid-area: textField;
    background-color: white;
    border: 2px solid black
}

#caption {
    padding: 1rem;
    border-bottom: 1px solid black;
}

#messageField {
    padding: 1rem;
}

.mutedCharacter {
    filter: saturate(0.5) brightness(0.5);
}

#choiceLayer {
    display: grid;
    row-gap: 1rem;
    z-index: 400;
}

.choice {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    align-self: center;
    padding: 2rem;
    cursor: pointer;
}

.singleColumn {
    grid-template-columns: 20% 60% 20%;
    /* grid-template-areas: . c1 . */
}

.unevenColumns {
    grid-template-columns: 20% 20% 20% 20% 20%;
    /*
    grid-template-areas:
    ". c1 c1 c1 ."
    "c2 c2 . c3 c3"
    "c4 c4 . c5 c5"
    */

}

.twoColumns {
    grid-template-columns: 20% 30% 30% 20%;
    /* grid-template-areas: . c1 c2 . */
}